body{
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}

.navbar {
    background-color: rgba(34, 0, 255, 0.13);
    display: flex;
    align-items: center;
}

.navbar-nav {
    align-items: center;
}

.navbar .nav-link {
    color: #4b0082;
}

.navbar-brand {
    font-size: 22pt;
}

.navbar-brand:hover {
    color: #4b0082;
}

.content-separator {
    background-color: #4b0082;
    height: 3px;
    margin: 15px;
}

.form-group {
    margin-bottom: 15px;
}

form label{
    color: rgba(75, 0, 130, 0.61);
}

form input {
    border: 2px solid #4b0082;
    padding: 10px;
    border-radius: 5px;
    margin-right: 50%;
    width: 60%;
    box-sizing: border-box;
}

form input:hover {
    transition: 0.3s;
    background-color: rgba(34, 0, 255, 0.13);
}

#id_consent{
    width: 25px;
    height: 25px;
}

p:has(#id_consent) {
    display: flex;
    align-items: center;
}

label[for="id_consent"] {
    margin-bottom: 0;
    margin-right: 5px;
}

.btn-purple {
    background-color: #4b0082;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-purple:hover {
    transition: 0.3s;
    background-color: #6a0dad;
}

.app-display {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    gap: 10px;
}

.app-display-card {
    width: 400px;
    height: 660px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(135deg, rgba(136, 0, 255, 0.3) 0%, rgba(34, 0, 255, 0.05) 100%);
}

.app-display-card-edit{
    height: fit-content;
}

.app-display-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    border: rgba(106, 13, 173, 0.4) solid 1px;
    margin-bottom: 10px;
}

.app-display-img-list{
    height: 315px;
}

.app-desc {
    height: 50px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.in-work{
    margin: 0;
    cursor: default;
}

.in-work:hover{
    background-color: #4b0082;
}

.light{
    background-color: rgba(34, 0, 255, 0.13);
}

