{% extends "base_generic.html" %}

{% block content %}

<h2>Личный кабинет</h2>
    {% if designapplication_list %}
        <h5>Мои заявки</h5>
        <hr>
        <div class="app-display">
            {% for app in designapplication_list %}
                <div class="app-display-card">
                    <div>
                        <h3 class="text-center">{{app.title}}</h3>
                        <div class="content-separator"></div>
                        <p class="text-secondary">{{ app.get_time_created }}</p>
                        <p class="app-display-category text-truncate">Категория: {{ app.get_categories }}</p>
                        <p class="text-secondary app-desc">{{ app.description }}</p>
                        <div class="content-separator light"></div>
                    </div>
                    {% if app.photo %}
                        <img src="{{ app.photo.url }}" alt="{{ app.title }}" class="app-display-img"/>
                    {% endif %}
                    <p class="app-status">Статус: {{ app.get_status_display }}</p>
                    {% if app.status == 'n' %}
                        <a href="{% url 'app_delete' app.id %}" class="btn-purple nav-link text-white">Удалить</a>
                    {% elif app.status == 'w' %}
                        <p class="btn-purple nav-link text-white in-work">В работе</p>
                    {% else %}
                        <p class="btn-purple nav-link text-white in-work">Выполнено</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
      <p>У вас нет заявок.</p>
    {% endif %}
{% endblock %}