{% extends "base_generic.html" %}

{% block content %}

<h3>Заявки</h3>
    <hr>
    <form method="get" class="status-filter-form">
        {% csrf_token %}
        {{ filter_form.as_p }}
        <button type="submit">Применить</button>
    </form>
    {% if designapplication_list %}
        <hr>
        <div class="app-display">
            {% for app in designapplication_list %}
                <div class="app-display-card">
                    <div>
                        <h3 class="text-center">{{app.title}}</h3>
                        <div class="content-separator"></div>
                        <p class="text-secondary">{{ app.get_time_created }}</p>
                        <p class="app-display-category text-truncate">Категория: {{ app.get_categories }}</p>
                        <p class="text-secondary app-desc">{{ app.description }}</p>
                        <div class="content-separator light"></div>
                    </div>
                    {% if app.photo %}
                        <img src="{{ app.photo.url }}" alt="{{ app.title }}" class="app-display-img app-display-img-list"/>
                    {% endif %}
                    <p class="app-display-category text-truncate">Статус:
                    {% if app.status == 'n' %}
                        Новая</p>
                    {% elif app.status == 'w' %}
                        В работе</p>
                    {% else %}
                        Выполнено</p>
                    {% endif %}
                    <a href="{% url 'redact_app' app.id %}" class="btn-purple nav-link text-white">Редактировать</a>
                    <a href="{% url 'app_delete' app.id %}">Удалить</a>
                </div>
            {% endfor %}
        </div>
    {% else %}
      <p>В базе данных нет заявок.</p>
    {% endif %}
{% endblock %}